@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
  .btnComp {
    @apply bg-blue ml-20 my-8;
  }
} */

body {
  margin: 0;
  margin-top: 10%;
}
.container {
  /* margin-top: 10%; */
  display: flex;
  flex-direction: row;
}
router-outlet + * {
  padding: 0 16px;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1rem;
}
h1,
h2 {
  font-weight: lighter;
}
a:hover {
  opacity: 0.8;
}
/* You can add global styles to this file, and also import other style files */
